<!DOCTYPE html>
<html>
   <head>
      <style>
      p {text-align: center;}
         body {
            background-image: url("https://c.tenor.com/lTtlX5xlfmgAAAAC/nyan-cat.gif");
            background-size: cover;
         }
      </style>
   </head>	
   <body>
      <<p style="color:white;font-size:30px;">Hello World!</p>
      <%= link_to "Courts", courts_path %>
   </body>	
</html>